body {
    background-image: url('img/shy.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
header {
    background-color: #92374a;
    text-align: center;
    padding: 20px;
    color: #e0c3ca;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    font-size: 30px;
}

.caixa {
    background-color: #92374a;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    color: #e0c3ca ;
    font-size: 20px;
    animation: aparecer 2s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.botao {
    background-color: #92374a;
    color: #e0c3ca;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.botao:hover {
    background-color: #6e2a38;
}


#mensagem {
    animation: aparecer 0.5s ease-in-out;
}

@keyframes cair {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

.todasfotos {
   margin-top: 200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

/* TODAS AS CAIXAS DE FOTO */
.foto, .foto2, .foto3 {
    background-color: #f5ecee;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    color: #92374a;
    font-size: 20px;
    text-align: center;

    /* REMOVE BAGUNÇA ANTIGA */
    margin: 0;
}

/* TODAS AS IMAGENS */
.fotobrazuka, .fotomusculo, .fotoface {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin-top: 15px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fotobrazuka, .fotomusculo, .fotoface {
    transition: transform 0.3s;
}

.fotobrazuka:hover, .fotomusculo:hover, .fotoface:hover {
    transform: scale(1.1);
}

.rodape {
    background-color: #92374a; /* mesma cor da caixa */
    color: #e0c3ca;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
}
@media (max-width: 768px) {
    .todasfotos {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
    }

    .foto, .foto2, .foto3 {
        width: 90%;
    }

    .fotobrazuka, .fotomusculo, .fotoface {
        max-width: 100%;
    }
}
